{% macro base() %}
<nav
  id="nav"
  class="mb-5 flex items-center bg-cyan-700 shadow-lg h-16 w-full shadow-cyan-400/50 rounded-lg"
>
  <div class="flex items-stretch">
    <div class="pl-5 flex items-center space-x-4">
      <div id="nav-image">
        <img class="h-12 w-12 object-cover" src="images/fastapi.jpeg" alt="" />
      </div>
      <div class="text-lg text-zinc-100 font-bold font-sans">
        <span class="text-2xl">T</span>he_fla<span class="text-2xl">SK</span>
      </div>
    </div>
  </div>
</nav>

<script src="scripts/nav.js"></script>
{% endmacro %}
